{% extends 'accounts/base.html' %}

{% block title %} Profile {% endblock %}

{% block body %}
    {% if error_message %}
        <p style="color:red"><strong>{{ error_message }}</strong></p>
    {% endif %}

    <!-- Personal Information -->
<div class="container">
    <div class="center"><h3>Your Profile</h3></div>
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h4 class="panel-title">Personal Information</h4>
        </div>

        <div class="panel-body">
            <ul>
                <strong>First Name: </strong>{{ request.user.first_name }}<br>
                <strong>Last Name: </strong>{{ request.user.last_name }}<br>
                <strong>Email: </strong>{{ request.user.email }}<br>
                <strong>Hospitals: </strong>
                    <ul>
                        {% for hospital in request.user.doctor.get_hospitals %}
                            {{ hospital }} <br>
                        {% endfor %}
                    </ul>
                <strong>
                Nurses: </strong>
                    <ul>
                        {% for nurse in request.user.doctor.get_nurses %}
                            {{ nurse }} <br>
                        {% endfor %}
                    </ul>

            </ul>
            <div class="col-md-12" style="text-align:right">
                <!-- Update Password  -->
                <a href="{% url 'accounts:updatepassword'%}">
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </a>
                <!-- Update Profile Information -->
                <a href="{% url 'doctor:update' request.user.pk %}">
                    <button type="submit" class="btn btn-success">Update Profile</button>
                </a>
            </div>
        </div>

    </div>

</div>
{% endblock %}