{% extends 'accounts/base.html' %}
{% block title %}Add Medical Info{% endblock %}
{% block body %}
<div class="center"><h3>Enter Medical Info</h3></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-5 center-block " style="float:none;">
                <div class="panel panel panel-default">
                    <div class="panel-body">
                    {% if error_message %}
                        <div class="col-sm-offset-4 col-sm-8">
                            <p style="color:red"><strong>{{ error_message }}</strong></p>
                        </div>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %}
                        {% include 'accounts/form_template.html' %}
                        <div class="form-group">

                            <div class="col-md-6" style="text-align:left">
                                {% if request.user.nurse %}
                                    <a href="{% url 'nurse:patientemr' pk %}">
                                        <button type="button" class="btn btn-primary">Go Back</button>
                                    </a>
                                {% elif request.user.h_admin %}
                                    <a href="{% url 'h_admin:patientemr' pk %}">
                                        <button type="button" class="btn btn-primary">Go Back</button>
                                    </a>
                                {% else %}
                                    <a href="{% url 'doctor:patientemr' pk %}">
                                        <button type="button" class="btn btn-primary">Go Back</button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                {% if request.user.nurse %}
                                    <a href="{% url 'nurse:patientemr' pk %}">
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </a>
                                {% elif request.user.h_admin %}
                                    <a href="{% url 'h_admin:patientemr' pk %}">
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </a>
                                {% else %}
                                    <a href="{% url 'doctor:patientemr' pk %}">
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </a>
                                {% endif %}
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
